<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>

    <script>
        const URL_FOR_NORMAL_JSON = "{{ url_for('static', filename='data/normal.json') }}";
        const URL_FOR_HARD_JSON   = "{{ url_for('static', filename='data/hard.json') }}";
        const URL_FOR_EXH_JSON    = "{{ url_for('static', filename='data/exh.json') }}";
    </script>
</head>
<body>
    <p>表示方法 曲リスト ノマゲ難易度表 ハード難易度表 エクハ難易度表</p>
    <p>CSVファイルを選択 <input type="file" id="file"></p>
    <details>
        <summary>バージョンで絞り込み</summary>
        <div id="versionFilters"><!--
            <input type="checkbox" name="version_check" class="version_check" id="version_1" checked>
            <label for="version_1" class="version_label">1st</label>
            <input type="checkbox" name="version_check" class="version_check" id="version_sub" checked>
            <label for="version_sub" class="version_label">sub</label> -->
        </div>
    </details>
    <table>
        <thead>
            <th>曲名</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Beginner</th>
            <th>Normal</th>
            <th>Hyper</th>
            <th>Another</th>
            <th>Leggendaria</th>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>

    <table>
        <thead>
            <th>難度</th>
            <th>曲名</th>
            <th>譜面モード</th>
            <th>クリアタイプ</th>
        </thead>
        <tbody id="tableBody_exh">
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>